
*ipynb_checkpoints*
*pycache*

*.csv
*.docx
*.gif
*.grib
*.json
*.nc
*.pdf
*.png
*.Rdata
*.rData
*.zip

*/data/*
*/fitted-models
*/fitted_models
*/fitted/*
*/res/*
*/sf/*
*/stations/*
*/ts-raw/*
*/sf_*/*
*/fig/*

00_training/
95_animations/

20_misc/23-04_return-level-plots/

23-03_EA-drought/mv/*
23-03_EA-drought/amflor/*

23-08_Europe-wildfires/effis_burnedarea2023/*
